In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
from dataset import TSDataset

In [3]:
data = TSDataset("data/rastro.tar.gz", resample="15min", window="3H", stride="15min", label_type="last")

In [4]:
data.df.head()

,overallusers,overallrbdw,overallrbdwmean,overallrbdwstd,overallratedw,overallratedwmean,overallratedwstd,overallmsgdw,overallretxdw,overallrbup,overallrbupmean,overallrbupstd,overallrateup,overallrateupmean,overallrateupstd,overallmsgup,overallretxup
overalltime,,,,,,,,,,,,,,,,,
2016-06-29 22:45:00,11.326360,1620.974895,17.822028,15.555806,320572.552301,2759.098810,3717.856770,65.740586,2.393305,1902.949791,5.048400,4.779209,175337.807531,473.210321,528.465686,246.786611,130.146444
2016-06-29 23:00:00,8.942438,2001.747178,17.167866,13.248523,459400.550790,2878.320688,3357.093614,63.890519,3.336343,1671.049661,6.471690,5.327218,141454.726862,544.647646,519.500655,184.696388,47.353273
2016-06-29 23:15:00,5.801347,419.026936,11.592087,9.909665,69661.342312,1347.457282,1781.257746,22.658810,0.611672,637.561167,4.049554,4.069920,75231.712682,443.900515,511.577821,97.689113,49.301908
2016-06-29 23:30:00,5.908380,774.012291,12.789217,10.436806,132585.260335,1461.036512,1789.611963,31.029050,1.035754,848.322905,4.700708,4.467596,84364.353073,478.772460,516.399209,116.749721,40.617877
2016-06-29 23:45:00,6.044118,1505.507919,18.447135,15.354624,284745.013575,1597.793570,1754.266465,63.424208,1.881222,1623.454751,4.412954,3.001752,186715.574661,535.857540,386.094918,248.842760,154.144796

In [5]:
data.anomaly

DatetimeIndex(['2016-07-03 09:00:00', '2016-07-03 09:15:00',
               '2016-07-03 09:30:00', '2016-07-03 09:45:00',
               '2016-07-03 10:00:00', '2016-07-03 10:15:00',
               '2016-07-03 10:30:00', '2016-07-03 10:45:00',
               '2016-07-03 11:00:00', '2016-07-03 11:15:00',
               ...
               '2016-07-24 13:45:00', '2016-07-24 14:00:00',
               '2016-07-24 14:15:00', '2016-07-24 14:30:00',
               '2016-07-24 14:45:00', '2016-07-24 15:00:00',
               '2016-07-24 15:15:00', '2016-07-24 15:30:00',
               '2016-07-24 15:45:00', '2016-07-24 16:00:00'],
              dtype='datetime64[ns]', length=116, freq=None)

In [6]:
data.y[1000]

1

In [9]:
X_train, X_test, y_train, y_test = data.train_test_split()

In [10]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(2115, 13, 17)
(706, 13, 17)
(2115,)
(706,)

In [13]:
data.X.shape

(2821, 13, 17)