In [6]:
import pandas as pd

from IPython.display import display

In [8]:
df = pd.read_csv("rastro_1min.tar.gz", parse_dates=[0], index_col=0)
df.head()

,overallusers,overallrbdw,overallrbdwmean,overallrbdwstd,overallratedw,overallratedwmean,overallratedwstd,overallmsgdw,overallretxdw,overallrbup,overallrbupmean,overallrbupstd,overallrateup,overallrateupmean,overallrateupstd,overallmsgup,overallretxup
overalltime,,,,,,,,,,,,,,,,,
2016-06-29 22:56:00,514,102539,19.737289,17.590780,27203112,3707.610350,4828.865308,3542,163,73861,3.443046,4.184972,8863072.0,434.507309,616.176033,10628.0,9784.0
2016-06-29 22:57:00,634,58511,16.470517,15.334160,7034656,2017.145780,2984.791050,3120,73,84479,3.385373,3.600891,8968600.0,373.483436,468.323626,14496.0,11233.0
2016-06-29 22:58:00,889,121123,16.866703,14.328054,22695704,2655.061443,3775.325510,5054,159,173947,6.576329,5.829330,14363056.0,544.011478,561.241565,19482.0,6716.0
2016-06-29 22:59:00,670,105240,18.245522,15.004146,19683368,2672.386192,3300.962021,3996,177,122518,6.762097,5.491740,9711008.0,540.194010,469.583361,14376.0,3372.0
2016-06-29 23:00:00,629,651738,27.337623,13.555662,169093944,5919.297844,4132.723859,14467,1120,124437,6.628143,6.706426,11546504.0,596.334224,698.955721,13902.0,4634.0

In [3]:
window = pd.Timedelta("1H")
stride = pd.Timedelta("15T")

start = df.index.min()
end   = df.index.max()

In [4]:
dfs = []

t0 = start
t1 = start + window

while t1 < end:
    dfs.append(df.loc[t0:t1, :])
    t0 = t0+stride
    t1 = t0+window

In [7]:
i = 0
while i<10:
    display(dfs[i])
    i+=1

,overallusers,overallrbdw,overallrbdwmean,overallrbdwstd,overallratedw,overallratedwmean,overallratedwstd,overallmsgdw,overallretxdw,overallrbup,overallrbupmean,overallrbupstd,overallrateup,overallrateupmean,overallrateupstd,overallmsgup,overallretxup
overalltime,,,,,,,,,,,,,,,,,
2016-06-29 22:56:00,514,102539,19.737289,17.590780,27203112,3707.610350,4828.865308,3542,163,73861,3.443046,4.184972,8863072.0,434.507309,616.176033,10628.0,9784.0
2016-06-29 22:57:00,634,58511,16.470517,15.334160,7034656,2017.145780,2984.791050,3120,73,84479,3.385373,3.600891,8968600.0,373.483436,468.323626,14496.0,11233.0
2016-06-29 22:58:00,889,121123,16.866703,14.328054,22695704,2655.061443,3775.325510,5054,159,173947,6.576329,5.829330,14363056.0,544.011478,561.241565,19482.0,6716.0
2016-06-29 22:59:00,670,105240,18.245522,15.004146,19683368,2672.386192,3300.962021,3996,177,122518,6.762097,5.491740,9711008.0,540.194010,469.583361,14376.0,3372.0
2016-06-29 23:00:00,629,651738,27.337623,13.555662,169093944,5919.297844,4132.723859,14467,1120,124437,6.628143,6.706426,11546504.0,596.334224,698.955721,13902.0,4634.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-06-29 23:52:00,348,59180,18.806585,16.449859,4512344,1243.054167,1707.978589,3147,38,104743,5.013548,3.232311,12244824.0,612.109429,385.170657,16291.0,4345.0
2016-06-29 23:53:00,374,90647,19.506781,17.295240,15905848,2162.643305,2627.372308,4140,179,121861,4.540734,3.243459,13358296.0,549.818368,389.689596,17606.0,9696.0
2016-06-29 23:54:00,392,76584,18.699114,17.061446,11935968,1590.315179,1908.766592,3690,181,92787,3.962233,2.699192,11927752.0,519.680354,422.525781,15252.0,10897.0
2016-06-29 23:55:00,361,62499,19.827786,18.598894,5734688,1410.535455,2069.011850,3104,39,83455,4.763247,2.572390,11614120.0,669.468779,329.151212,15782.0,1624.0
2016-06-29 23:56:00,311,47921,19.841225,18.631743,2257104,908.479007,1228.148055,2498,23,72581,4.796505,2.674278,9328920.0,629.040895,329.441196,12980.0,1880.0

,overallusers,overallrbdw,overallrbdwmean,overallrbdwstd,overallratedw,overallratedwmean,overallratedwstd,overallmsgdw,overallretxdw,overallrbup,overallrbupmean,overallrbupstd,overallrateup,overallrateupmean,overallrateupstd,overallmsgup,overallretxup
overalltime,,,,,,,,,,,,,,,,,
2016-06-29 23:11:00,722,101299,15.248190,13.129274,23735920,2547.962027,3417.213484,3876,219,115181,5.896669,5.314881,11176312.0,567.756948,645.539025,12639.0,4396.0
2016-06-29 23:12:00,471,12249,8.528262,8.891096,1077256,671.740045,1171.353464,1247,47,50420,4.709341,4.100669,4738440.0,440.743659,402.551578,7043.0,2798.0
2016-06-29 23:13:00,451,22340,12.303160,11.489122,2611800,1253.969819,2217.868448,1558,18,57912,5.080318,4.470211,5522488.0,481.229731,493.992398,7793.0,2547.0
2016-06-29 23:14:00,437,14313,11.057383,10.105412,1349312,987.067613,1572.334119,1199,4,56089,5.569023,5.149840,4644960.0,468.677406,440.218263,6643.0,2679.0
2016-06-29 23:15:00,470,29359,11.151016,10.426309,2328448,808.887481,1358.913909,2340,62,100602,6.792072,7.242012,10377560.0,695.491102,884.179679,13041.0,2964.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-06-30 00:07:00,243,12755,9.857898,6.944663,2249328,1262.256606,1274.011953,778,9,20425,3.555437,4.419994,4073768.0,696.172152,1497.964679,3673.0,1505.0
2016-06-30 00:08:00,284,4811,6.883220,5.178462,269400,383.097102,511.054528,572,5,19503,3.030635,2.435407,2038336.0,343.899967,428.976070,3524.0,1580.0
2016-06-30 00:09:00,320,18704,9.621573,7.904964,2784416,802.949193,895.576111,1053,33,21793,3.242260,2.972399,3261576.0,460.159217,492.355648,4186.0,1987.0
2016-06-30 00:10:00,104,10325,8.845659,4.853141,3884336,2016.006368,1878.341593,417,17,8475,3.134626,3.376290,1317616.0,404.018799,533.225387,1359.0,506.0
2016-06-30 00:11:00,224,24927,14.370212,10.004699,8690272,3623.382663,3379.179919,1075,39,27333,4.215944,6.400003,3704264.0,595.249282,1027.081996,3832.0,2555.0

,overallusers,overallrbdw,overallrbdwmean,overallrbdwstd,overallratedw,overallratedwmean,overallratedwstd,overallmsgdw,overallretxdw,overallrbup,overallrbupmean,overallrbupstd,overallrateup,overallrateupmean,overallrateupstd,overallmsgup,overallretxup
overalltime,,,,,,,,,,,,,,,,,
2016-06-29 23:26:00,386,19630,11.031064,8.913164,3474968,1369.157262,1885.449602,1195,15,32919,3.965281,4.132270,3827200.0,421.793028,460.185478,5132.0,2504.0
2016-06-29 23:27:00,343,14725,9.470683,8.960927,819424,587.800586,909.391549,1021,58,31501,4.053861,4.075980,3069136.0,359.233813,380.436762,4607.0,2394.0
2016-06-29 23:28:00,268,5028,8.061127,6.750654,249704,345.336868,382.341936,534,13,16836,3.579408,3.797438,1750560.0,340.344439,388.720580,3013.0,1704.0
2016-06-29 23:29:00,327,8528,7.989589,6.701114,859800,727.688639,1124.556145,813,6,35773,4.554516,4.548859,3417920.0,434.724165,454.102050,4838.0,2084.0
2016-06-29 23:30:00,281,4619,5.933117,3.906346,243168,288.450667,262.077982,567,3,17377,3.043249,2.798050,2882752.0,453.775286,434.118139,3683.0,1767.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-06-30 00:22:00,307,16647,13.388202,10.184005,4533136,2763.658642,2661.698022,904,12,28373,3.521910,4.031694,3105968.0,374.466524,486.275821,3961.0,3557.0
2016-06-30 00:23:00,305,19705,14.967226,10.356496,4620808,2931.339002,3923.429210,975,23,30078,2.840440,2.881139,2890392.0,296.859987,358.714404,4447.0,5108.0
2016-06-30 00:24:00,308,9360,8.219009,6.422670,801096,659.060239,1164.027449,744,3,27625,3.170277,3.799351,3020816.0,341.335717,486.406083,3924.0,4642.0
2016-06-30 00:25:00,317,4685,6.143669,5.187363,406464,466.301072,784.036739,580,20,22302,3.493239,3.473963,2408272.0,346.402074,432.906580,3501.0,2891.0
2016-06-30 00:26:00,183,7732,9.286444,7.384345,1020000,728.258900,888.335164,561,9,16479,2.926498,2.479861,2166960.0,389.091559,418.925843,2911.0,1452.0

,overallusers,overallrbdw,overallrbdwmean,overallrbdwstd,overallratedw,overallratedwmean,overallratedwstd,overallmsgdw,overallretxdw,overallrbup,overallrbupmean,overallrbupstd,overallrateup,overallrateupmean,overallrateupstd,overallmsgup,overallretxup
overalltime,,,,,,,,,,,,,,,,,
2016-06-29 23:41:00,251,5316,8.191616,8.377434,316600,556.500340,832.570720,614,10,20199,3.989076,4.084820,1985224.0,378.256700,422.642400,4075.0,1414.0
2016-06-29 23:42:00,305,23456,11.641825,8.764637,3370560,1213.797524,1385.482946,1152,21,31226,4.223262,4.874684,4023848.0,540.948969,617.828419,4589.0,2050.0
2016-06-29 23:43:00,301,113782,16.989589,11.891147,25502824,2999.325956,3098.149270,3545,150,78155,6.520691,7.341616,7360896.0,637.595514,839.442549,8208.0,1654.0
2016-06-29 23:44:00,414,57412,15.966279,12.915669,8565048,1950.825363,2343.259373,2367,65,74254,5.711478,5.368341,7257304.0,552.056822,589.759345,10263.0,2116.0
2016-06-29 23:45:00,358,59857,18.334283,15.645811,5736184,1272.948432,1292.657744,3057,27,113209,3.511899,3.461566,9893560.0,330.564298,380.010682,13476.0,20252.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-06-30 00:37:00,180,4131,6.384797,4.529976,232632,365.211181,446.389037,493,2,13245,3.251296,2.421026,1684968.0,351.589090,314.253570,2425.0,1113.0
2016-06-30 00:38:00,156,4549,6.721704,4.927006,215504,295.722425,271.960695,531,2,34479,4.034081,3.104314,3580784.0,418.276737,326.309069,2824.0,1002.0
2016-06-30 00:39:00,214,4847,6.377501,4.838977,347544,388.471593,528.863294,516,2,14167,3.068571,3.932618,1411824.0,303.399634,430.288722,2736.0,1413.0
2016-06-30 00:40:00,213,5022,7.292365,5.683321,424120,482.884472,634.909751,508,13,25367,5.450730,4.270083,2475632.0,489.756123,500.035035,2644.0,1440.0
2016-06-30 00:41:00,307,7495,9.256433,9.197850,559656,918.785136,1551.374231,818,4,20410,2.980432,2.415333,2081072.0,289.158376,296.061574,4093.0,1623.0

,overallusers,overallrbdw,overallrbdwmean,overallrbdwstd,overallratedw,overallratedwmean,overallratedwstd,overallmsgdw,overallretxdw,overallrbup,overallrbupmean,overallrbupstd,overallrateup,overallrateupmean,overallrateupstd,overallmsgup,overallretxup
overalltime,,,,,,,,,,,,,,,,,
2016-06-29 23:56:00,311,47921,19.841225,18.631743,2257104,908.479007,1228.148055,2498,23,72581,4.796505,2.674278,9328920.0,629.040895,329.441196,12980.0,1880.0
2016-06-29 23:57:00,393,83458,19.803160,16.994922,14188472,2190.454769,3030.630023,3987,110,86965,4.971450,2.973164,11676480.0,676.737149,364.786051,15628.0,1669.0
2016-06-29 23:58:00,457,484548,22.666566,13.809817,156960792,4568.959554,2766.398675,12077,896,102279,4.101754,2.945900,15336408.0,625.509288,529.369382,18378.0,7869.0
2016-06-29 23:59:00,391,42602,16.553914,14.864743,2110888,789.205265,922.625148,2656,13,79382,4.821854,2.630976,10488440.0,638.492978,380.888588,13995.0,2532.0
2016-06-30 00:00:00,509,53666,16.789786,16.180997,3155880,895.140141,1381.245946,3233,34,102547,5.140089,3.351965,12709320.0,646.563098,419.460821,16495.0,3440.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-06-30 00:52:00,231,6938,7.981862,6.614274,940328,659.338088,951.375935,603,9,20746,3.319652,3.181549,2352864.0,357.898733,378.044880,3043.0,1573.0
2016-06-30 00:53:00,348,28943,13.732094,12.507022,7389624,2697.564577,4023.983707,1546,26,48770,5.414264,5.998201,5305736.0,570.411031,721.364311,6299.0,2082.0
2016-06-30 00:54:00,361,41534,14.904533,12.258829,11500264,2536.594235,3010.514833,1753,55,57044,6.173569,5.879041,4769184.0,514.117791,519.903775,6472.0,1979.0
2016-06-30 00:55:00,236,22365,12.844931,10.400764,3281312,1329.471245,2011.057710,1072,19,33728,5.308271,5.185114,3220432.0,516.388492,551.510444,3958.0,1303.0
2016-06-30 00:56:00,227,14902,8.158365,6.218436,3252576,842.708831,931.332561,782,1,13633,2.831305,2.530425,2055368.0,394.879303,398.599088,2714.0,1449.0

,overallusers,overallrbdw,overallrbdwmean,overallrbdwstd,overallratedw,overallratedwmean,overallratedwstd,overallmsgdw,overallretxdw,overallrbup,overallrbupmean,overallrbupstd,overallrateup,overallrateupmean,overallrateupstd,overallmsgup,overallretxup
overalltime,,,,,,,,,,,,,,,,,
2016-06-30 00:11:00,224,24927,14.370212,10.004699,8690272,3623.382663,3379.179919,1075,39,27333,4.215944,6.400003,3704264.0,595.249282,1027.081996,3832.0,2555.0
2016-06-30 00:12:00,263,30365,17.939464,13.483892,10550664,4774.498647,5376.185096,1204,72,41674,4.320534,5.040280,4302352.0,460.519017,713.714561,4932.0,4229.0
2016-06-30 00:13:00,265,51516,17.131017,12.465215,19655144,5406.205342,5056.813793,1974,106,31856,3.460083,4.268989,4269064.0,455.464986,714.024712,4773.0,3914.0
2016-06-30 00:14:00,270,18116,13.822505,10.602828,5705408,3688.153562,4099.961607,933,26,23772,3.340125,4.330412,3177704.0,455.465285,750.550236,4126.0,2765.0
2016-06-30 00:15:00,183,9665,10.293722,7.870827,2638256,1739.632614,2121.293593,594,3,14122,2.583680,3.098938,1850800.0,299.721806,562.283710,2402.0,2393.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-06-30 01:07:00,167,70947,14.315409,6.948404,19608984,3172.239016,2123.991073,1749,80,18786,3.852457,4.414198,2081512.0,398.585740,484.662757,2558.0,1215.0
2016-06-30 01:08:00,232,14956,10.057049,7.302233,4010496,1675.209426,1975.781078,768,12,22160,4.215487,4.281399,2461448.0,429.483898,479.208410,3304.0,1434.0
2016-06-30 01:09:00,279,41636,14.240524,10.443631,12189352,2794.150586,2933.618577,1618,59,30090,4.053603,4.434891,3840608.0,515.027446,607.059921,4882.0,2036.0
2016-06-30 01:10:00,292,23672,9.055023,6.177239,5420992,919.264509,819.537938,1023,16,24594,4.272169,4.272235,2370096.0,401.289243,430.266248,3185.0,1693.0
2016-06-30 01:11:00,317,88594,17.373902,12.184055,25565048,3313.778236,3170.775258,2954,124,72926,4.610432,5.048556,7297728.0,463.556056,622.287618,8521.0,8350.0

,overallusers,overallrbdw,overallrbdwmean,overallrbdwstd,overallratedw,overallratedwmean,overallratedwstd,overallmsgdw,overallretxdw,overallrbup,overallrbupmean,overallrbupstd,overallrateup,overallrateupmean,overallrateupstd,overallmsgup,overallretxup
overalltime,,,,,,,,,,,,,,,,,
2016-06-30 00:26:00,183,7732,9.286444,7.384345,1020000,728.258900,888.335164,561,9,16479,2.926498,2.479861,2166960.0,389.091559,418.925843,2911.0,1452.0
2016-06-30 00:27:00,242,3693,6.318261,4.841780,173480,294.763516,340.219204,468,37,12378,2.888272,2.320482,1388776.0,328.488594,340.827773,2646.0,1562.0
2016-06-30 00:28:00,238,4305,6.272555,4.689248,234264,315.394150,417.088542,514,1,12864,2.614348,2.604935,1776512.0,340.697291,447.444201,2926.0,1354.0
2016-06-30 00:29:00,229,7660,8.359327,6.225204,607080,728.590264,885.814240,718,27,15749,2.715045,2.078149,1681248.0,290.887991,298.947777,3661.0,1012.0
2016-06-30 00:30:00,190,2503,5.920376,3.552330,111176,265.340939,184.508878,361,7,10173,3.025752,2.877938,1275672.0,343.799445,351.040942,1690.0,1264.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-06-30 01:22:00,281,80487,18.460906,11.164943,16848400,3153.836868,2944.832431,2296,88,46198,5.913939,7.524652,4258744.0,552.240801,805.774106,4704.0,2638.0
2016-06-30 01:23:00,279,151566,17.540573,11.505791,37612256,3665.712281,3839.657451,4217,252,74818,6.142004,6.538998,6708976.0,560.955866,662.897934,7243.0,2142.0
2016-06-30 01:24:00,306,22267,16.320708,14.787016,4760192,3580.653705,5516.435986,1047,45,42607,5.941858,5.560061,3448632.0,448.921136,448.217196,4624.0,2710.0
2016-06-30 01:25:00,467,33572,13.324811,11.918931,4254080,1428.494199,2159.778009,2014,62,76407,4.926144,5.211188,7032824.0,454.079645,594.195618,9266.0,6161.0
2016-06-30 01:26:00,407,19753,13.776918,13.886152,4745120,2189.011686,3139.023843,1067,17,53661,6.300479,5.998857,3899368.0,438.656998,514.277918,5639.0,2746.0

,overallusers,overallrbdw,overallrbdwmean,overallrbdwstd,overallratedw,overallratedwmean,overallratedwstd,overallmsgdw,overallretxdw,overallrbup,overallrbupmean,overallrbupstd,overallrateup,overallrateupmean,overallrateupstd,overallmsgup,overallretxup
overalltime,,,,,,,,,,,,,,,,,
2016-06-30 00:41:00,307,7495,9.256433,9.197850,559656,918.785136,1551.374231,818,4,20410,2.980432,2.415333,2081072.0,289.158376,296.061574,4093.0,1623.0
2016-06-30 00:42:00,286,12077,7.962091,6.083098,773872,497.196277,606.051082,843,20,18712,3.094709,2.689788,2221872.0,385.557489,393.823506,4036.0,1501.0
2016-06-30 00:43:00,147,2588,6.025866,3.794424,140632,305.545714,297.062997,300,4,6583,2.159322,1.452572,1004696.0,311.888343,284.793669,1573.0,858.0
2016-06-30 00:44:00,265,8984,9.224159,7.668113,510136,533.363513,731.536034,662,4,23354,3.271909,3.243628,2468112.0,384.639701,492.829402,3551.0,1597.0
2016-06-30 00:45:00,241,20010,9.442397,6.797419,3705808,990.435605,1139.500596,958,14,12906,2.940321,3.107218,1755808.0,414.626043,582.656669,2799.0,1202.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-06-30 01:37:00,393,126671,21.554021,15.276568,37410144,5124.717536,5438.394391,4213,221,113943,5.571589,5.676685,10034840.0,473.887024,677.310621,13517.0,8722.0
2016-06-30 01:38:00,311,102090,18.914100,11.923542,32996448,3872.689381,3391.989734,2763,161,67671,5.201438,6.137476,6150576.0,468.735388,668.868157,6049.0,6705.0
2016-06-30 01:39:00,301,14989,11.374111,8.997926,2361808,1572.895862,1708.341653,992,11,51404,4.245176,4.404387,3817360.0,345.089741,418.895227,4908.0,4021.0
2016-06-30 01:40:00,297,11779,9.316076,8.380595,797608,553.790309,822.949022,887,5,34091,3.714646,4.441622,3410144.0,381.801336,593.485007,4336.0,4745.0
2016-06-30 01:41:00,270,26641,11.966274,9.460749,5034464,1766.249579,2679.532722,1366,24,60245,6.358793,6.861529,5508984.0,555.878791,710.517492,5609.0,2350.0

,overallusers,overallrbdw,overallrbdwmean,overallrbdwstd,overallratedw,overallratedwmean,overallratedwstd,overallmsgdw,overallretxdw,overallrbup,overallrbupmean,overallrbupstd,overallrateup,overallrateupmean,overallrateupstd,overallmsgup,overallretxup
overalltime,,,,,,,,,,,,,,,,,
2016-06-30 00:56:00,227,14902,8.158365,6.218436,3252576,842.708831,931.332561,782,1,13633,2.831305,2.530425,2055368.0,394.879303,398.599088,2714.0,1449.0
2016-06-30 00:57:00,326,36339,13.497390,11.277464,8210840,2335.062775,3484.595523,1610,25,52277,6.135162,6.187804,4922776.0,563.256419,551.707366,6214.0,1777.0
2016-06-30 00:58:00,290,88775,16.031530,10.467078,22832520,2803.741557,2472.612950,2356,115,45743,4.878217,4.290050,4356944.0,475.955026,448.119706,5914.0,1819.0
2016-06-30 00:59:00,270,168991,22.512245,12.802455,43171032,4436.806020,3807.792028,4209,244,87534,6.845008,4.524800,7429472.0,599.072179,524.273058,9283.0,1466.0
2016-06-30 01:00:00,272,74907,19.934505,13.507671,19337288,4225.553674,4208.230398,2351,79,53244,6.199641,6.913961,5866912.0,649.541336,833.036267,6162.0,1689.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-06-30 01:52:00,208,28194,13.110061,11.728328,1356560,719.996120,1103.612563,1368,197,44084,4.681003,4.120753,4077752.0,481.406333,496.330924,5144.0,1852.0
2016-06-30 01:53:00,178,5381,7.019316,4.770028,493768,528.420218,819.247420,464,6,18004,3.768517,4.193746,2087672.0,420.495618,551.034430,2474.0,1463.0
2016-06-30 01:54:00,197,8904,8.292589,6.980640,403904,360.482986,407.294589,543,68,18272,3.614982,3.346477,1987288.0,414.153985,498.029293,2633.0,1681.0
2016-06-30 01:55:00,145,14607,9.704696,7.085179,3012720,1217.233090,1727.224754,784,16,25598,3.980273,3.638987,2979976.0,461.248482,566.929570,2977.0,1833.0
2016-06-30 01:56:00,184,7369,8.923534,7.010705,462864,451.188011,540.127819,603,10,17861,3.486935,3.608707,2289824.0,421.853274,557.469103,2824.0,2132.0

,overallusers,overallrbdw,overallrbdwmean,overallrbdwstd,overallratedw,overallratedwmean,overallratedwstd,overallmsgdw,overallretxdw,overallrbup,overallrbupmean,overallrbupstd,overallrateup,overallrateupmean,overallrateupstd,overallmsgup,overallretxup
overalltime,,,,,,,,,,,,,,,,,
2016-06-30 01:11:00,317,88594,17.373902,12.184055,25565048,3313.778236,3170.775258,2954,124,72926,4.610432,5.048556,7297728.0,463.556056,622.287618,8521.0,8350.0
2016-06-30 01:12:00,298,12968,11.440149,9.536387,1767200,1300.172955,1724.370537,904,11,34464,4.007386,3.796020,3681528.0,403.542934,425.561498,4790.0,3785.0
2016-06-30 01:13:00,349,10255,10.565703,9.441603,704280,587.447946,885.760662,855,8,44958,4.107115,4.689769,4660256.0,404.919995,512.403277,5000.0,4463.0
2016-06-30 01:14:00,271,8778,8.795172,7.539937,862192,585.667200,824.818729,724,1,28879,3.924471,4.647018,2705800.0,367.616598,446.772997,3355.0,3771.0
2016-06-30 01:15:00,313,7937,9.793915,9.053199,486824,565.662333,759.539324,661,6,26160,3.591112,3.739839,2596472.0,353.123669,417.110362,3369.0,3803.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-06-30 02:07:00,155,4460,7.762725,5.164603,378392,499.882352,461.643367,372,5,11021,3.857605,3.041309,1599568.0,476.327129,417.693691,1973.0,938.0
2016-06-30 02:08:00,164,9433,12.044826,7.067964,1940928,2035.063294,1864.260758,468,6,13318,3.763498,3.359419,1416496.0,395.562566,384.136095,1909.0,1027.0
2016-06-30 02:09:00,210,12054,11.181180,8.623346,835264,689.707431,920.685816,712,0,22394,4.213599,5.299348,2568536.0,435.313140,598.608474,3183.0,2134.0
2016-06-30 02:10:00,225,6426,7.915671,6.893371,420224,382.550311,480.414134,579,5,19406,3.679863,4.761379,2142048.0,403.657634,573.945617,2897.0,2245.0
2016-06-30 02:11:00,230,14212,11.561116,9.906707,1215960,926.340351,1479.376447,799,9,33257,4.243522,5.691709,3878800.0,503.300050,758.002358,4121.0,3576.0